*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:#0f172a;
    --card-color: #1e293b;
    --text-color: #f8fafc;
    --accent-color: #38bdf8;
    --radius:12px;
    --font-main: 'Segoe UI', sans-serif;
}
body{
    font-family: var(--font-main);
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.app{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}